@import url("https://fonts.googleapis.com/css2?family=Roboto");

@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
body {
	font-display: 'Roboto', serif;
	font-size: 18px;
}
h1, h2, h3 {
	font-family: 'Circular', sans-serif;
	font-weight: bold;
}
a {
	text-decoration: none;
}

